<mat-toolbar color="primary">
  <button (click)="showMenu()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span><h1>Sistema Bancário</h1></span>
  <span class="example-spacer"></span>
  <label id="quandologado" >{{usuarioLogado}}</label>

  @if (IsAuth) {
    <div>
      Logout
      <button (click)="logout()" mat-icon-button>
        <mat-icon aria-hidden="false" aria-label="Example bancos icon" fontIcon="logout">Logout</mat-icon>
      </button>
    </div>
  }

</mat-toolbar>

