<app-navbar [Drawer]="drawer" [IsAuth]="isAuth"></app-navbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list role="list">

      <mat-list-item (click)="drawer.toggle()" role="listitem" routerLink="login">
        <mat-icon aria-hidden="false" aria-label="Example login icon" fontIcon="login"></mat-icon>
        <span>Login</span>    
      </mat-list-item>
      
      <mat-list-item *ngIf="isAuth" (click)="drawer.toggle()" role="listitem" routerLink="home">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        <span>Home</span>
      </mat-list-item>

      <mat-list-item *ngIf="isAuth" (click)="drawer.toggle()" role="listitem" routerLink="info">
        <mat-icon aria-hidden="false" aria-label="Example info icon" fontIcon="info"></mat-icon>
        <span>Info</span>    
      </mat-list-item>   

      <mat-list-item *ngIf="isAuth" (click)="drawer.toggle()" role="listitem" routerLink="user">
        <mat-icon aria-hidden="false" aria-label="Example user icon" fontIcon="person"></mat-icon>
        <span>User</span>    
      </mat-list-item>

      <mat-list-item *ngIf="isAuth" (click)="drawer.toggle()" role="listitem" routerLink="bancos">
        <mat-icon aria-hidden="false" aria-label="Example bancos icon" fontIcon="account_balance"></mat-icon>
        <span>Bancos</span>    
      </mat-list-item>

    </mat-list>
    
  </mat-drawer>

  <div class="example-sidenav-content">   
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>

  
<app-footer></app-footer>



